<% layout("/layouts/boilerplate") %>
<div class="row">
	<div class="col-8 offset-2">
		<h3>Edit a Listing :</h3>
		<form method="POST" action="/listings/<%= listingData._id %>?_method=PUT">
			<div class="mb-3">
				<label for="title" class="form-label">Title</label>
				<input
					type="text"
					name="listing[title]"
					value="<%= listingData.title %>"
					class="form-control"
				/>
			</div>
			<div class="mb-3">
				<label for="description" class="form-label">Description</label>
				<textarea name="listing[description]" class="form-control">
				<%= listingData.description %></textarea
				>
			</div>
			<div class="mb-3">
				<label for="image" class="form-label">Image Link</label>
				<input
					type="text"
					name="listing[image]"
					value="<%= listingData.image %>"
					class="form-control"
				/>
			</div>
			<div class="row">
				<div class="mb-3 col-md-4">
			<input
				type="text"
				name="listing[location]"
				value="<%= listingData.location %>"
			/><br /><br />
			<input
				type="text"
				name="listing[country]"
				value="<%= listingData.country %>"
			/><br /><br />
			<button>Edit Listing</button>
		</form>
	</div>
</div>
