<% layout("/layouts/boilerplate") %>
<div class="filters" id="filters">
	<div class="filter">
		<div>
			<i class="fa-solid fa-fire"></i>
		</div>
		<p>Trending</p>
	</div>
	<div class="filter">
		<div>
			<i class="fa-solid fa-bed"></i>
		</div>
		<p>Rooms</p>
	</div>
	<div class="filter">
		<div>
			<i class="fa-solid fa-umbrella-beach"></i>
		</div>
		<p>Beach</p>
	</div>
	<div class="filter">
		<div>
			<i class="fa-solid fa-person-swimming"></i>
		</div>
		<p>Amazing Pools</p>
	</div>
	<div class="filter">
		<div>
			<i class="fa-solid fa-mountain-city"></i>
		</div>
		<p>Iconic Cities</p>
	</div>
	<div class="filter">
		<div>
			<i class="fa-solid fa-mountain"></i>
		</div>
		<p>Mountains</p>
	</div>
	<div class="filter">
		<div>
			<i class="fa-brands fa-fort-awesome"></i>
		</div>
		<p>Castles</p>
	</div>
	<div class="filter">
		<div>
			<i class="fa-solid fa-campground"></i>
		</div>
		<p>Camping</p>
	</div>
	<div class="filter">
		<div>
			<i class="fa-solid fa-cow"></i>
		</div>
		<p>Farms</p>
	</div>

	<div class="filter">
		<div>
			<i class="fa-solid fa-snowflake"></i>
		</div>
		<p>Arctic</p>
	</div>
	<div class="filter">
		<div>
			<i class="fa-solid fa-igloo"></i>
		</div>
		<p>Domes</p>
	</div>
	<div class="filter">
		<div>
			<i class="fa-solid fa-ship"></i>
		</div>
		<p>Boats</p>
	</div>
	<div class="tax-toggle">
		<div class="form-check-reverse form-switch">
			<input
				class="form-check-input custom-switch-color"
				type="checkbox"
				role="switch"
				id="flexSwitchCheckDefault"
				onclick="taxToggler()"
			/>
			<label class="form-check-label" for="flexSwitchCheckDefault"
				>Display total after taxes</label
			>
		</div>
	</div>
</div>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
	<% for(let listing of allListings){%>
	<a href="/listings/<%= listing._id %>" class="listing-link">
		<div class="card col listing-card">
			<img
				src="<%= listing.image.url %>"
				class="card-img-top"
				alt="..."
				loading="lazy"
				style="height: 20rem"
			/>
			<div class="card-img-overlay"></div>
			<div class="card-body">
				<p class="card-text">
					<b><%= listing.title %></b> <br />
					<span class="price-info"
						>&#8377;<%= listing.price.toLocaleString("en-IN") %> / night
					</span>

					<i class="tax-info"
						>&nbsp;&nbsp;&#8377;<b
							><%= (listing.price * 1.18).toLocaleString("en-IN") %>/ night</b
						></i
					>
				</p>
			</div>
		</div>
	</a>
	<%}%>
</div>

<script>
	let taxSwitch = document.getElementById("flexSwitchCheckDefault");
	function taxToggler() {
		let taxInfo = document.getElementsByClassName("tax-info");
		let priceInfo = document.getElementsByClassName("price-info");
		if (taxSwitch.checked == true) {
			for (info of taxInfo) {
				info.style.display = "inline";
			}
			for (price of priceInfo) {
				price.style.textDecoration = "line-through";
			}
		} else {
			for (info of taxInfo) {
				info.style.display = "none";
			}
			for (price of priceInfo) {
				price.style.textDecoration = "none";
			}
		}
	}
</script>
