<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>WanderLust</title>
	</head>
	<body>
		<h3>Listing Details :</h3>
		<ul>
			<li><%= listingData.title %></li>
			<li><%= listingData.description %></li>
			<li>&#8377;<%= listingData.price.toLocale String("en-IN") %></li>
			<li><%= listingData.location %></li>
			<li><%= listingData.country %></li>
		</ul>
	</body>
</html>
